<style>
  /* mainContentCategories */
  .mainContentCategories {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 20px;
    margin: auto;
    width: 1200px;
    color: #bab6af;
  }

  .categoryItem {
    width: 100%;
    height: 300px;
    background-color: #444444;
    margin-bottom: 30px;
    position: relative;
    align-items: center;
  }

  .categoryItemImage {
    width: 100%;
    overflow: hidden;
    height: 100%;
  }

  .categoryItemImage a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;

  }

  .categoryItemText {
    width: 100%;
    margin-top: 10px;

  }

  .categoryItemText-1 {
    font-size: 17px;
  }
  .categoryItem a {
    text-decoration: none;
    color: #bab6af;
  }

  @media (max-width:1263px) {

    /* project */
    .mainContentText {
      width: 100%;
      padding-left: 10px;
    }

    .categoryItem {
      display: block;
      height: auto;
    }

    .categoryItemImage {
      width: 100%;
      overflow: hidden;

    }

    .categoryItemImage a img {
      width: 100%;
      height: 100%;
      margin: auto;
    }

    .categoryItemText {
      width: 100%;
      margin-left: 5px;
      margin-top: 20px;
    }

    .categoryItemText-1 {
      font-size: 28px;
    }

    .categoryItemText-2 {
      width: 98%;
      padding-top: 15px;
      font-size: 14px;
    }

    .categoryItemBtn>a {
      font-size: 18px;

    }
  }
</style>
{{!-- js for this page --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{!-- sweet alert --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  $(document).ready(function () {
    $.ajax({
      url: '/all-cate-project',
      type: 'GET',
      dataType: "json",
      encode: true,
    }).done(function (data) {
      console.log(data)
      let html = "";
      let i = 0;
      data.map((item) => {
        $(".mainContentCategories").append(`<div class="categoryItem ">
    <div class="categoryItemImage ">

      <a href="/detail-cate-project/`+ item._id + `"> <img src="` + item.imageBanner + `" alt="" /></a>

    </div>
    <div class="categoryItemText">
      <div class="categoryItemText-1">
        <a href="/detail-cate-project/`+ item._id + `"><p>` + item.nameProject + `</p></a>
      </div>
    </div>
  </div>`);

        html += ``;
        i++;
      })
    })

    //get inf project
    $.ajax({
      url: '/get-all-inf-user-page',
      type: 'GET',
      dataType: "json",
      encode: true,
    }).done(function (data) {
      let infInfo = data[0].project;
      $(".textTitle p").html(infInfo.title);
      $(".textContent p").html(infInfo.content);

      console.log(infInfo);
    })


  })
</script>
<div class="mainContentText">

  <div class="textTitle">
    <p>Loading...</p>
  </div>
  <div class="textContent">
    <p>
      Loading...
    </p>
  </div>
  <div class="media">
    <div class="textMedia">
      <p>
        See more completed projects on our Behance, Youtube, and
        Facebook :
      </p>
    </div>
    <div class="iconMedia">
      <ul>
        <li>
          <a target="_blank" class="link-bh" href="" class=""><img src="icon-user-page/icon1.png" alt=""
              style="width: 35px;" /></a>
        </li>
        <li>
          <a target="_blank" class="link-ins" href=""><img src="icon-user-page/icon2.png" alt=""
              style="width: 35px;" /></a>
        </li>
        <li>
          <a target="_blank" class="link-ytb" href=""><img src="icon-user-page/icon3.png" alt=""
              style="width: 35px;" /></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mainContentCategories">




</div>