<style>
    .mainContentProjectDetail {
        padding-top: 50px;
    }

    .gallery {
        width: 100%;
        display: flex;
        transition: .3s;
        margin: auto;
        background-color: #323232;
        padding: 0 20px;
    }


    .gallery__column {
        display: flex;
        flex-direction: column;
        width: 33, 33333%;
    }

    #middle__column {
        margin: 0 1% 0 1%;
    }

    .gallery__link {
        margin: 2px;
        overflow: hidden;
        padding-bottom: 20px;
    }



    .gallery__link:hover .gallery__caption {
        opacity: 1;
    }

    .gallery__thumb {
        position: relative;
    }

    .gallery__image {
        display: block;
        width: 100%;
        transition: .3s;
    }


    .gallery__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 25px 15px 15px;
        width: 100%;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: white;
        opacity: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        transition: 1s;
    }

    .overlayEffectImg {
        position: fixed;
        display: block;
        z-index: 2;
    }
</style>
<div class="mainContentBanner">
    <div class="mainContentBanner-p">
        <p>Beach Villa</p>
    </div>
</div>
<div class="mainContentProjectDetail">
    <div class="gallery">
        <div class="gallery__column">
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="gallery__column" id="middle__column">
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>

            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>

            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="gallery__column">
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>