<div class="mainContentText">
    <div class="textTitle">
        <p>Possibilities , Portrayed</p>
    </div>
    <div class="textContent">
        <p>
            Welcome to Koma Visualization! This section shows our hand-picked
            projects that showcase our passion in visualizing architecture
            with our signature visual style. We are proud to be trusted by our
            clients to visualize their designs, ranging from small-scale to
            large-scale projects. If you find our visual works interesting and
            suitable for your needs, please do reach us through the Info page
            for further information. Thank you!
        </p>
    </div>
    <div class="media">
        <div class="textMedia">
            <p>
                See more completed projects on our Behance, Instagram, and
                Youtube :
            </p>
        </div>
        <div class="iconMedia">
            <ul>
                <li>
                    <a href=""><img src="../img/icon1.png" alt="" /></a>
                </li>
                <li>
                    <a href=""><img src="../img/icon2.png" alt="" /></a>
                </li>
                <li>
                    <a href=""><img src="../img/icon3.png" alt="" /></a>
                </li>
            </ul>
            <div class="hr">
                <hr size="0.7px" />
            </div>
        </div>
    </div>
</div>
<div class="mainContentGallery">
    <div class="gallery">
        <div class="gallery__column">
            <a href="" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/269372937_1329469600829378_2172518883074724499_n.jpg"
                        alt="Portrait by Jessica Felicio" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Jessica Felicio
                    </figcaption>
                </figure>
            </a>
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/274679215_490469069439062_6507397293948342931_n.png"
                        alt="Portrait by Oladimeji Odunsi" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Oladimeji Odunsi
                    </figcaption>
                </figure>
            </a>

            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/329562800_1504790936711340_5378388942636186252_n.jpg" alt="Portrait by Alex Perez"
                        class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Alex Perez
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="gallery__column">
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/329668351_1623178841475705_7641310261093573272_n.jpg"
                        alt="Portrait by Noah Buscher" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Noah Buscher
                    </figcaption>
                </figure>
            </a>

            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/329630260_5839746069443159_7120662957483026001_n.png"
                        alt="Portrait by Ivana Cajina" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Ivana Cajina
                    </figcaption>
                </figure>
            </a>

            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/329695715_547624010658602_7068975533679280450_n.png" alt="Portrait by Sam Burriss"
                        class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Sam Burriss
                    </figcaption>
                </figure>
            </a>
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/329747035_3388683731420345_6147265290149195296_n.png"
                        alt="Portrait by Mari Lezhava" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Mari Lezhava
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="gallery__column">
            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/329747035_3388683731420345_6147265290149195296_n.png"
                        alt="Portrait by Mari Lezhava" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Mari Lezhava
                    </figcaption>
                </figure>
            </a>

            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/329580705_5976127279089646_6610642905831687218_n.png"
                        alt="Portrait by Ethan Haddox" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Ethan Haddox
                    </figcaption>
                </figure>
            </a>

            <a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="../img/329695715_547624010658602_7068975533679280450_n.png" alt="Portrait by Amir Geshani"
                        class="gallery__image" />
                    <figcaption class="gallery__caption">
                        Portrait by Amir Geshani
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>