{{!-- js for this page --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{!-- sweet alert --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- jsDeliver -->
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js" async=""></script>


<script>
    $(document).ready(function () {
        //get all inf usser page
        $.ajax({
            url: '/get-all-inf-user-page',
            type: 'GET',
            dataType: "json",
            encode: true,
        }).done(function (data) {
            let social = data[0].socialMedia;
            let logo = data[0].logo;
            $(".logo-img").attr('src', logo)
            $(".link-bh").attr('href', social.behance)
            $(".link-ins").attr('href', social.instagram)
            $(".link-ytb").attr('href', social.youtube)
            $(".inf-email").html('Email: ' + social.email)
            $(".inf-sologan").html(social.sologanComoany)
        })

        var arrImage = [];
        console.log(1);
        fetch("/get-all-inf-user-page").then(res => { return res.json() })
            .then((data) => {
                console.log(data);
                let dataHome = data[0].home[0];
                $(".textTitle p").html(dataHome.blog.title)
                $(".textContent p").html(dataHome.blog.content)

                arrImage = data[0].home[0].images;
                let minColumn = Math.floor((arrImage.length + 1) / 3);
                console.log("minColumn", minColumn)

                $(".gallery__column_1")
                let html_cl_1 = ``;
                let html_cl_2 = ``;
                let html_cl_3 = ``;
                let count = 1;
                arrImage.sort((a, b) => {
                    return a.zIndex - b.zIndex;
                }).map((item) => {
                    let draft_html = `<a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb" style="">
                    <img style="min-height: 300px; background-color: #3d3d3d" z-index = '`+ item.zIndex + `'  data-sizes="auto" data-src="https://drive.google.com/uc?id=` + item.idImage + `" data-id-image="` + item.idImage + `"
                        alt="Loading..." class="gallery__image lazyload" />
                    <figcaption class="gallery__caption">
                        
                    </figcaption>
                </figure>
            </a>`
                    if (count <= minColumn) {
                        html_cl_1 += draft_html;
                    } else if (count > minColumn && count <= minColumn * 2) {
                        html_cl_2 += draft_html;
                    } else {
                        html_cl_3 += draft_html;
                    }

                    count++;
                })
                $(".gallery__column_1").html(html_cl_1);
                $(".gallery__column_2").html(html_cl_2);
                $(".gallery__column_3").html(html_cl_3);
                console.log(dataHome);
            }).then(() => {
                $(".gallery__image").click(function () {
                    $(".layout").css('display', 'block')
                    $(".layout-option").css('display', 'flex')
                    $(".contain-item-image").css('display', 'flex')
                    let idImage = $(this).attr('data-id-image');
                    let zIndex = $(this).attr('z-index');
                    $(".image-detail").attr('src', `https://drive.google.com/uc?id=` + idImage + ``);
                    $(".image-detail").attr('z-index', zIndex);


                    getProjectByIdImage(idImage);
                })
            })
        $(".layout").click(function () {
            $(this).hide();
            $('.contain-item-image').hide()
            $(".layout-option").hide();
        })
        function getProjectByIdImage(idImage) {
            $(".lds-ellipsis").hide(500);
            $(".image-detail").attr('src', `https://drive.google.com/uc?id=` + idImage + ``);
            $.ajax({
                url: '/findProjectByName',
                type: 'POST',
                data: { idImage: idImage },
                dataType: "json",
                encode: true,
            }).done(function (data) {
                console.log(data);
                $(".inf-project").html('')
                $(".img-relative-project").html('')
                let html = '';
                let arr_img = '';
                let linkDetail = '';
                $(".inf-image-a").html('')
                $(".inf-project").html('')
                $(".img-relative-project").html('')
                if (data != "") {
                    data.map((item) => {
                        linkDetail += ` <a target="_blank" href="detail-cate-project/` + item.cateProject._id + `" id="a-link-detail">Xem thêm</a>`;

                        html += ` <p class="nameProject">` + item.nameProject.trim() + `</p>
                                    <p class="descriptProject"><strong>Mô tả dự án</strong>: `+ item.descriptionProject + `</p>
                                    <p class="cateProject"><strong>Dự án này thuộc danh mục</strong>: `+ item.cateProject.nameProject + `</p>
                                <p class="descriptCateProject"><strong>Mô tả danh mục này</strong>: `+ item.cateProject.descriptionProject + `</p>`;

                        for (let i = 0; i < item.imageProject.length; i++) {
                            arr_img += `<img src="` + item.imageProject[i].urlImage + `"/>`;
                        }
                    })
                } else {
                    html = ` <p class="nameProject">Dự án này chưa được công bố chi tiết</p>`;
                }
                $(".inf-image-a").html(linkDetail)
                $(".inf-project").html(html)
                $(".img-relative-project").html(arr_img)
                console.log(123);
            })
        }

        $(".btn-right").click(function () {
            $(".inf-image-a").html('')
            $(".inf-project").html('')
            $(".img-relative-project").html('')
            $(".image-detail").attr('src', '');
            $(".lds-ellipsis").css('display', 'inline-block')

            let zIndex = $(".image-detail").attr('z-index');
            console.log(arrImage);
            let index = arrImage.findIndex(object => {
                return object.zIndex === zIndex;
            });
            for (let i = 0; i < arrImage.length; i++) {
                if (zIndex == arrImage[i].zIndex) {

                    if (arrImage[i + 1]) {
                        $(".image-detail").attr('z-index', arrImage[i + 1].zIndex);
                        let idNextProject = arrImage[i + 1].idImage;
                        setTimeout(function () {
                            getProjectByIdImage(idNextProject);
                        }, 300)
                    } else {
                        $('.layout').hide();
                        $('.contain-item-image').hide()
                        $(".layout-option").hide();
                        Swal.fire('Waiting for update !')
                    }
                }
            }
        })

        $(".btn-left").click(function () {
            let zIndex = $(".image-detail").attr('z-index');
            $(".inf-image-a").html('')
            $(".inf-project").html('')
            $(".img-relative-project").html('')
            $(".image-detail").attr('src', '');
            $(".lds-ellipsis").css('display', 'inline-block')

            console.log(arrImage);
            let index = arrImage.findIndex(object => {
                return object.zIndex === zIndex;
            });
            for (let i = 0; i < arrImage.length; i++) {
                if (zIndex == arrImage[i].zIndex) {
                    if (arrImage[i - 1]) {
                        $(".image-detail").attr('z-index', arrImage[i - 1].zIndex);
                        let idNextProject = arrImage[i - 1].idImage;
                        setTimeout(function () {
                            getProjectByIdImage(idNextProject);
                        }, 300)
                    } else {
                        $('.layout').hide();
                        $('.contain-item-image').hide()
                        $(".layout-option").hide();
                        Swal.fire('Waiting for update !')
                    }
                }
            }
        })

    })
</script>

<style>
    .btn-route {
        background-color: rgb(133, 132, 132);
    }

    .btn-route:hover {
        background-color: aliceblue;
    }

    .lds-ellipsis {
        margin: auto;
        display: none;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }

    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0);
        }
    }

    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(24px, 0);
        }
    }

    /*chưa làm responesive*/

    .inf-project>p {
        margin: 0 30px;
    }

    .inf-project>.nameProject {
        margin-top: 20px;
        font-size: 25px;
        color: #bab6af;
        font-weight: 800;

    }

    .inf-project>.descriptProject {
        padding-top: 10px;
        font-size: 15px;
        color: #bab6af
    }

    .inf-project>.cateProject,
    .descriptCateProject {
        padding-top: 10px;
        font-size: 15px;
        color: #bab6af
    }

    .img-relative-project {
        width: 100%;
    }

    .img-relative-project>img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .contain-item-image {
        width: 80%;
        height: 100%;
        overflow: hidden;
        background-color: #474747;
        position: fixed;
        z-index: 100;
        left: 50%;
        top: 50%;
        display: none;
        transform: translate(-50%, -50%);
        flex-wrap: wrap;
        align-items: center;
        overflow-y: scroll;
        -ms-overflow-style: none;
        /* cho Internet Explorer, Edge */
        scrollbar-width: none;
        /* cho Firefox */
        overflow-y: scroll;
    }

    .contain-item-image::-webkit-scrollbar {
        display: none;
        /* cho Chrome, Safari, and Opera */
    }

    .contain-item-image>.contain-image {
        width: 100%;
        min-height: 500px;
        position: relative;
        padding-bottom: 2px;
        overflow: hidden;
    }

    .contain-item-image>.inf-image {
        width: 100%;
        background-color: #474747;
        margin-bottom: 16px;
    }

    .contain-item-image>.contain-image>img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .inf-image-a,
    .inf-image-describe,
    .inf-image-title {
        margin: 15px 0 0 15px;
    }

    .inf-image-describe>p {
        font-size: 17px;
        color: #bab6af
    }

    .inf-image-title>p {
        font-size: 30px;
        color: #bab6af
    }

    .inf-image-a>a {
        text-decoration: none;
        color: #bab6af;
        float: left;
        padding-left: 15px;
        font-size: 17px;
    }

    .inf-image-a>a:hover {
        transition: 0.4s ease-in-out;
        color: #f1f1f1;
    }

    .inf-image-logo {
        width: 100%;
    }

    .inf-image-logo>img {
        width: 100%;

    }
</style>

<div class="layout"
    style="position: absolute; width: 100%; height: 100%; position: fixed; top: 50%; transform: translate(-50%, -50%); left:  50%; background-color: rgb(40, 40, 40); opacity: 0.8; z-index: 99; display: none;">
    <div class="close"
        style="display: flex;     justify-content: center; align-items: center; width: 40px; float: right; height: 40px; border-radius: 50px; background-color: #575757; margin-top: 5px; margin-right: 5px;">
        <img src="icon-user-page/close.png" width="20px" height="20px" alt="">
    </div>
</div>
<div class="layout-option"
    style="position: absolute; align-items: center; justify-content: space-between; width: 100%; height: 100px; position: fixed; top: 50%; transform: translate(-50%, -50%); left:  50%; display: none; opacity: 0.8; z-index: 200;">
    <div class="btn-route btn-left"
        style="display: flex;     justify-content: center; align-items: center; width: 30px; margin-left: 20px; cursor: pointer; border-radius: 50%; height:30px; ">
        <img style="width: 15px; height: 15px;" src="icon-user-page/left-arrow.png" alt="">
    </div>
    <div class="btn-route btn-right"
        style="display: flex;     justify-content: center; align-items: center; width: 30px; margin-right: 20px; height: 30px;  cursor: pointer; border-radius: 50%; ">
        <img style="width: 15px; height: 15px;" src="icon-user-page/right-arrow.png" alt="">

    </div>

</div>
<div class="contain-item-image">
    <div class="banner_image">
        <img src="icon-user-page/439862103611663.611e372feff4d.png" style="width: 100%;" alt="">
    </div>
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="inf-image">
        <div class="inf-project">
        </div>

        {{!-- 1 chuỗi các ảnh --}}
        <div class="inf-image-a">
            {{!-- xem dự án cùng loại --}}
        </div>
    </div>
    <div class="contain-image">
        <div class="img-relative-project">
        </div>
        <img src="" alt="" class="image-detail">
    </div>
</div>
<div class="mainContentText">
    <div class="textTitle">
        <p></p>
    </div>
    <div class="textContent">
        <p>

        </p>
    </div>
    <div class="media">
        <div class="textMedia">
            <p>
                See more completed projects on our Behance, Instagram, and
                Youtube :
            </p>
        </div>
        <div class="iconMedia">
            <ul>
                <li>
                    <a class="link-bh" href="" class=""><img src="icon-user-page/icon1.png" alt=""
                            style="width: 35px;" /></a>
                </li>
                <li>
                    <a class="link-ins" href=""><img src="icon-user-page/icon2.png" alt="" style="width: 35px;" /></a>
                </li>
                <li>
                    <a class="link-ytb" href=""><img src="icon-user-page/icon3.png" alt="" style="width: 35px;" /></a>
                </li>
            </ul>
            <div class="hr">
                <hr size="0.7px" />
            </div>
        </div>
    </div>
</div>
<div class="mainContentGallery">
    <div class="gallery">

        <div class="gallery__column gallery__column_1 ">

        </div>
        <div class="gallery__column gallery__column_2">

        </div>
        <div class="gallery__column gallery__column_3">

        </div>

    </div>
</div>
<script>

</script>