{{!-- js for this page --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{!-- sweet alert --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- jsDeliver -->
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>

<script>
    $(document).ready(function () {
        console.log(1);
        fetch("/admin/all-inf-user-page").then(res => { return res.json() })
            .then((data) => {
                console.log(123);
                let dataHome = data[0].home[0];
                $(".textTitle p").html(dataHome.blog.title)
                $(".textContent p").html(dataHome.blog.content)

                let arrImage = data[0].home[0].images;
                let minColumn = Math.floor((arrImage.length + 1) / 3);
                console.log("minColumn", minColumn)

                $(".gallery__column_1")
                let html_cl_1 = ``;
                let html_cl_2 = ``;
                let html_cl_3 = ``;
                let count = 1;
                arrImage.sort((a, b) => {
                    return a.zIndex - b.zIndex;
                }).map((item) => {
                    let draft_html = `<a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="https://drive.google.com/uc?id=` + item.idImage + `"
                        alt="Portrait by Noah Buscher" class="gallery__image" />
                    <figcaption class="gallery__caption">
                        
                    </figcaption>
                </figure>
            </a>`
                    if (count <= minColumn) {
                        html_cl_1 += draft_html;
                    } else if (count > minColumn && count <= minColumn * 2) {
                        html_cl_2 += draft_html;
                    } else {
                        html_cl_3 += draft_html;
                    }

                    count++;
                })
                $(".gallery__column_1").html(html_cl_1);
                $(".gallery__column_2").html(html_cl_2);
                $(".gallery__column_3").html(html_cl_3);
                console.log(dataHome);
            }).then(() => {

                

            })
    })
</script>

<div class="mainContentText">
    <div class="textTitle">
        <p></p>
    </div>
    <div class="textContent">
        <p>

        </p>
    </div>
    <div class="media">
        <div class="textMedia">
            <p>
                See more completed projects on our Behance, Instagram, and
                Youtube :
            </p>
        </div>
        <div class="iconMedia">
            <ul>
                <li>
                    <a href=""><img src="../img/icon1.png" alt="" /></a>
                </li>
                <li>
                    <a href=""><img src="../img/icon2.png" alt="" /></a>
                </li>
                <li>
                    <a href=""><img src="../img/icon3.png" alt="" /></a>
                </li>
            </ul>
            <div class="hr">
                <hr size="0.7px" />
            </div>
        </div>
    </div>
</div>
<div class="mainContentGallery">
    <div class="gallery">

        <div class="gallery__column gallery__column_1 ">

        </div>
        <div class="gallery__column gallery__column_2">

        </div>
        <div class="gallery__column gallery__column_3">

        </div>

    </div>
</div>
<script>

</script>