{{!-- js for this page --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{!-- sweet alert --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- jsDeliver -->
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js" async=""></script>


<script>
    $(document).ready(function () {
        console.log(1);
        fetch("/admin/all-inf-user-page").then(res => { return res.json() })
            .then((data) => {
                console.log(123);
                let dataHome = data[0].home[0];
                $(".textTitle p").html(dataHome.blog.title)
                $(".textContent p").html(dataHome.blog.content)

                let arrImage = data[0].home[0].images;
                let minColumn = Math.floor((arrImage.length + 1) / 3);
                console.log("minColumn", minColumn)

                $(".gallery__column_1")
                let html_cl_1 = ``;
                let html_cl_2 = ``;
                let html_cl_3 = ``;
                let count = 1;
                arrImage.sort((a, b) => {
                    return a.zIndex - b.zIndex;
                }).map((item) => {
                    let draft_html = `<a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img  data-sizes="auto" data-src="https://drive.google.com/uc?id=` + item.idImage + `" data-id-image="` + item.idImage + `"
                        alt="Portrait by Noah Buscher" class="gallery__image lazyload" />
                    <figcaption class="gallery__caption">
                        
                    </figcaption>
                </figure>
            </a>`
                    if (count <= minColumn) {
                        html_cl_1 += draft_html;
                    } else if (count > minColumn && count <= minColumn * 2) {
                        html_cl_2 += draft_html;
                    } else {
                        html_cl_3 += draft_html;
                    }

                    count++;
                })
                $(".gallery__column_1").html(html_cl_1);
                $(".gallery__column_2").html(html_cl_2);
                $(".gallery__column_3").html(html_cl_3);
                console.log(dataHome);
            }).then(() => {
                $(".gallery__image").click(function () {
                    $(".layout").css('display', 'block')
                    $(".contain-item-image").css('display', 'flex')
                    let idImage = $(this).attr('data-id-image');
                    $(".image-detail").attr('src', `https://drive.google.com/uc?id=` + idImage + ``);

                    $.ajax({
                        url: '/findProjectByName',
                        type: 'POST',
                        data: { idImage: idImage },
                        dataType: "json",
                        encode: true,
                    }).done(function (data) {
                        console.log(data);
                        let html = '';
                        let arr_img = '';
                        data.map((item) => {
                            html += ` <p class="nameProject">` + item.nameProject.trim() + `</p>
                                    <p class="descriptProject">`+ item.descriptionProject + `</p>

                                    <p class="cateProject">`+ item.cateProject.nameProject + `</p>
                                <p class="descriptCateProject">`+ item.cateProject.descriptionProject + `</p>`;

                            for (let i = 0; i < item.imageProject.length; i++) {
                                arr_img += `<img src="` + item.imageProject[i].urlImage + `"/>`;
                            }
                        })
                        $(".inf-project").html(html)
                        $(".img-relative-project").html(arr_img)
                    })
                })
            })
        $(".layout").click(function () {
            $(this).hide();
            $('.contain-item-image').hide()
        })
    })
</script>

<style>
    .img-relative-project {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .img-relative-project>img {
        width: 80px;
        height: 80px;
    }

    .contain-item-image {
        width: 90%;
        min-height: 400px;
        background-color: rgb(254, 255, 255);
        position: fixed;
        z-index: 11;
        left: 50%;
        top: 50%;
        display: none;
        transform: translate(-50%, -50%);
        overflow: scroll;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .contain-item-image>.contain-image {
        width: 49%;
        min-height: 200px;
        background-color: aqua;
        position: relative;
        padding-bottom: 30px;
    }

    .contain-item-image>.inf-image {
        width: 49%;
        min-height: 200px;
        background-color: rgba(168, 97, 16, 0.5);
        position: relative;
    }

    .contain-item-image>.contain-image>img {
        position: absolute;
        width: 100%;
        height: auto;
    }
</style>
<div class="layout"
    style="position: absolute; width: 100%; height: 100%; position: fixed; top: 0; left:  0; background-color: rgb(40, 40, 40); opacity: 0.5; z-index: 10; display: none;">
</div>
<div class="contain-item-image">
    <div class="contain-image">
        <img src="" alt="" class="image-detail">
    </div>
    <div class="inf-image">
        <h3>Thông tin chi tiết về ảnh dự án này</h3>
        <div class="inf-project">

        </div>


        <p>Các ảnh liên quan thuộc dự án này</p>
        <div class="img-relative-project">

        </div>
        {{!-- 1 chuỗi các ảnh --}}
        <a href="">Xem chi tiết >></a>
    </div>
</div>
<div class="mainContentText">
    <div class="textTitle">
        <p></p>
    </div>
    <div class="textContent">
        <p>

        </p>
    </div>
    <div class="media">
        <div class="textMedia">
            <p>
                See more completed projects on our Behance, Instagram, and
                Youtube :
            </p>
        </div>
        <div class="iconMedia">
            <ul>
                <li>
                    <a href=""><img src="../img/icon1.png" alt="" /></a>
                </li>
                <li>
                    <a href=""><img src="../img/icon2.png" alt="" /></a>
                </li>
                <li>
                    <a href=""><img src="../img/icon3.png" alt="" /></a>
                </li>
            </ul>
            <div class="hr">
                <hr size="0.7px" />
            </div>
        </div>
    </div>
</div>
<div class="mainContentGallery">
    <div class="gallery">

        <div class="gallery__column gallery__column_1 ">

        </div>
        <div class="gallery__column gallery__column_2">

        </div>
        <div class="gallery__column gallery__column_3">

        </div>

    </div>
</div>
<script>

</script>