{{!-- js for this page --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{!-- sweet alert --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- jsDeliver -->
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js" async=""></script>


<script>
    $(document).ready(function () {
        console.log(1);
        fetch("/get-all-inf-user-page").then(res => { return res.json() })
            .then((data) => {
                console.log(123);
                let dataHome = data[0].home[0];
                $(".textTitle p").html(dataHome.blog.title)
                $(".textContent p").html(dataHome.blog.content)

                let arrImage = data[0].home[0].images;
                let minColumn = Math.floor((arrImage.length + 1) / 3);
                console.log("minColumn", minColumn)

                $(".gallery__column_1")
                let html_cl_1 = ``;
                let html_cl_2 = ``;
                let html_cl_3 = ``;
                let count = 1;
                arrImage.sort((a, b) => {
                    return a.zIndex - b.zIndex;
                }).map((item) => {
                    let draft_html = `<a href="javascrip:void(0)" class="gallery__link">
                <figure class="gallery__thumb">
                    <img  data-sizes="auto" data-src="https://drive.google.com/uc?id=` + item.idImage + `" data-id-image="` + item.idImage + `"
                        alt="Portrait by Noah Buscher" class="gallery__image lazyload" />
                    <figcaption class="gallery__caption">
                        
                    </figcaption>
                </figure>
            </a>`
                    if (count <= minColumn) {
                        html_cl_1 += draft_html;
                    } else if (count > minColumn && count <= minColumn * 2) {
                        html_cl_2 += draft_html;
                    } else {
                        html_cl_3 += draft_html;
                    }

                    count++;
                })
                $(".gallery__column_1").html(html_cl_1);
                $(".gallery__column_2").html(html_cl_2);
                $(".gallery__column_3").html(html_cl_3);
                console.log(dataHome);
            }).then(() => {
                $(".gallery__image").click(function () {
                    $(".layout").css('display', 'block')
                    $(".contain-item-image").css('display', 'flex')
                    let idImage = $(this).attr('data-id-image');
                    $(".image-detail").attr('src', `https://drive.google.com/uc?id=` + idImage + ``);


                    $.ajax({
                        url: '/findProjectByName',
                        type: 'POST',
                        data: { idImage: idImage },
                        dataType: "json",
                        encode: true,
                    }).done(function (data) {
                        console.log(data);
                        $(".inf-project").html('')
                        $(".img-relative-project").html('')
                        let html = '';
                        let arr_img = '';
                        let linkDetail = '';
                        if (data != "") {
                            data.map((item) => {
                                linkDetail += ` <a target="_blank" href="detailproject/` + item._id + `" id="a-link-detail">Xem chi tiết >></a>`;

                                html += ` <p class="nameProject">- Tên dự án: ` + item.nameProject.trim() + `</p>
                                    <p class="descriptProject">- Mô tả dự án: `+ item.descriptionProject + `</p>

                                    <p class="cateProject">- Dự án này thuộc danh mục: `+ item.cateProject.nameProject + `</p>
                                <p class="descriptCateProject">- Mô tả danh mục này: `+ item.cateProject.descriptionProject + `</p>`;

                                for (let i = 0; i < item.imageProject.length; i++) {
                                    arr_img += `<img src="` + item.imageProject[i].urlImage + `"/>`;
                                }
                            })
                        } else {
                            html = ` <p class="nameProject">- Tên dự án: Dự án này chưa được công bố chi tiết</p>
                                    <p class="descriptProject">- Mô tả dự án: Dự án này chưa được công bố chi tiết</p>

                                    <p class="cateProject">- Dự án này thuộc danh mục: Chuẩn bị cập nhật...</p>
                                <p class="descriptCateProject">- Mô tả danh mục này: Chuẩn bị cập nhật...</p>`;
                        }
                        $(".inf-image-a").html(linkDetail)
                        $(".inf-project").html(html)
                        $(".img-relative-project").html(arr_img)
                    })
                })
            })
        $(".layout").click(function () {
            $(this).hide();
            $('.contain-item-image').hide()
        })
    })
</script>

<style>
    /*chưa làm responesive*/

    .inf-project>p {
        margin-left: 30px;
    }

    .inf-project>.nameProject {
        margin-top: 20px;
        font-size: 30px;
        color: #b19023;
        font-weight: 800;

    }

    .inf-project>.descriptProject {
        font-size: 20px;
        color: white
    }

    .inf-project>.cateProject,
    .descriptCateProject {
        font-size: 20px;
        color: white
    }

    .img-relative-project {
        width: 95%;
        height: 200px;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
    }

     .img-relative-project>img {
        object-fit: cover;
        margin-left: 20px;
        margin-bottom: 20px;
        width: 200px;
        height: auto;
    }

    .contain-item-image {
        width: 80%;
        height: auto;
        overflow: hidden;
        background-color: #474747;
        position: fixed;
        z-index: 11;
        left: 50%;
        top: 50%;
        display: none;
        transform: translate(-50%, -50%);
        flex-wrap: wrap;
        align-items: center;
    }

    .contain-item-image>.contain-image {
        width: 49%;
        min-height: 500px;
        position: relative;
        padding-bottom: 2px;
        overflow: hidden;
    }

    .contain-item-image>.inf-image {
        width: 49%;
        background-color: #474747;
        margin-top: 10px;
        margin-bottom: 16px;
        margin-left: 10px;
    }

    .contain-item-image>.contain-image>img {
        object-fit: cover;
        padding-top: 10px;
        width: 100%;
        height: auto;
    }

    .inf-image-a,
    .inf-image-describe,
    .inf-image-title {
        margin: 15px 0 0 15px;
    }

    .inf-image-describe>p {
        font-size: 17px;
        color: #bab6af
    }

    .inf-image-title>p {
        font-size: 30px;
        color: #bab6af
    }

    .inf-image-a>a {
        text-decoration: none;
        color: #181818;
        padding: 15px;
        float: right;
        font-size: 20px;
    }

    .inf-image-a>a:hover {
        transition: 0.4s ease-in-out;
        background-color: #181818;
        color: #f1f1f1;
    }

    @media (max-width:1263px) {
        .contain-item-image>.contain-image {
            width: 100%;
            min-height: auto;
            position: relative;
            padding-bottom: 2px;
            overflow: hidden;
        }

        .contain-item-image>.inf-image {
            width: 100%;
            background-color: #474747;
            margin-top: 10px;
            margin-bottom: 16px;
            margin-left: 10px;
        }

        .contain-item-image {
            width: 80%;
            height: 500px;
            overflow-y: scroll;
            background-color: #474747;
            position: fixed;
            z-index: 11;
            left: 50%;
            top: 50%;
            display: none;
            transform: translate(-50%, -50%);
            flex-wrap: wrap;
            align-items: center;
        }

        .contain-item-image>.contain-image>img {
            object-fit: cover;
            padding-top: 10px;
            width: 100%;
            height: auto;
            padding: 10px 10px 0 10px;
        }
    }
</style>
<div class="layout"
    style="position: absolute; width: 100%; height: 100%; position: fixed; top: 0; left:  0; background-color: rgb(40, 40, 40); opacity: 0.8; z-index: 10; display: none;">
</div>
<div class="contain-item-image">
    <div class="contain-image">
        <img src="" alt="" class="image-detail">
    </div>
    <div class="inf-image">
        <div class="inf-image-title">
            <p>Thông tin chi tiết về ảnh dự án này</p>
        </div>
        <div class="inf-project">
        </div>

        <div class="inf-image-describe">
            <p
                style="margin-top: 20px; color: white; font-size: 18px; padding: 10px; border-bottom: solid 3px #b19023; margin-bottom: 30px;">
                Các ảnh liên quan thuộc dự án này</p>
        </div>
        <div class="img-relative-project">
        </div>
        {{!-- 1 chuỗi các ảnh --}}
        <div class="inf-image-a">


        </div>


    </div>
</div>
<div class="mainContentText">
    <div class="textTitle">
        <p></p>
    </div>
    <div class="textContent">
        <p>

        </p>
    </div>
    <div class="media">
        <div class="textMedia">
            <p>
                See more completed projects on our Behance, Instagram, and
                Youtube :
            </p>
        </div>
        <div class="iconMedia">
            <ul>
                <li>
                    <a href=""><img src="icon-user-page/icon1.png" alt="" /></a>
                </li>
                <li>
                    <a href=""><img src="icon-user-page/icon2.png" alt="" /></a>
                </li>
                <li>
                    <a href=""><img src="icon-user-page/icon3.png" alt="" /></a>
                </li>
            </ul>
            <div class="hr">
                <hr size="0.7px" />
            </div>
        </div>
    </div>
</div>
<div class="mainContentGallery">
    <div class="gallery">

        <div class="gallery__column gallery__column_1 ">

        </div>
        <div class="gallery__column gallery__column_2">

        </div>
        <div class="gallery__column gallery__column_3">

        </div>

    </div>
</div>
<script>

</script>