<head>
    <title>Info</title>
</head>
{{!-- js for this page --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{!-- sweet alert --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/get-inf-company',
            type: 'POST',
            data: { _id: '64061f7b8a4398c824dbf196' },
            dataType: "json",
            encode: true,
        }).done(function (data) {
            console.log(data)
            let infCompany = data[0];
            $(".textTitle-1 p").html(infCompany.nameCompany)
            $(".textContent").html(infCompany.description)
            $(".img-review-company").attr('src', infCompany.imageReview)
            $(".email a").html('Email: ' + infCompany.emailCompany)
            $(".Address a").html('Address: ' + infCompany.addressCompany)
            $(".phoneNumber a").html('Phone: ' + infCompany.phoneCompany)
            $(".logo-company").attr('src', infCompany.logoCompany)
            $(".link-ytb").attr('src', infCompany.logoCompany)
        })
    })
</script>
<style>
    .mainContentMedia,
    .mainContentContact,
    .mainContentAbout {
        width: 1200px;
        margin: 0 auto;
        color: #bab6af;
    }

    .textTitle p {
        font-size: 20px;
    }

    .textTitle-1>p {
        font-size: 20px;
    }

    .textMedia,
    .textContent {
        font-size: 15px;
        width: 99%;
        padding-top: 20px;
    }

    .iconMedia ul {
        display: flex;
        list-style: none;
    }

    .iconMedia ul li {
        padding-left: 15px;
        padding-top: 10px;
    }

    .mainContentContact .hr,
    .mainContentAbout .hr {
        width: 300px;
        color: #bab6af;
        padding-top: 30px;
    }

    .mainContentContact {
        padding-top: 20px;
    }

    .contact {
        padding-top: 17px;
    }

    .email a {
        text-decoration: none;
        color: #bab6af;
        font-size: 15px;
    }

    .Address p,
    .phoneNumber p {
        font-size: 15px;
        color: #bab6af;
    }

    @media(max-width:1263px) {

        .mainContentMedia,
        .mainContentContact,
        .mainContentAbout {
            width: 100%;
            padding-left: 10px;
        }
    }
</style>
<div class="mainContentAbout">
    <div class="textTitle">
    </div>
    <div class="textTitle-1">
        <p>Possibilities , Portrayed</p>
    </div>
    <div class="textContent">
        <p>
            Loading
        </p>
    </div>
    <div class="hr">
        <hr size="0.7px" />
    </div>
</div>
<div class="mainContentContact">
    <div class="textTitle">
        <p>Contact</p>
    </div>
    <div class="contact email">
        <a href="mailto:via.vietarchitecture@gmail.com">Email: via.vietarchitecture@gmail.com</a>
    </div>
    <div class="contact Address">
        <p>Address: VietNam</p>
    </div>
    <div class="contact phoneNumber">
        <p>Phone: 0823102898</p>
    </div>
    <div class="hr">
        <hr size="0.7px" />
    </div>
</div>
<div class="mainContentMedia">
    <div class="textTitle">
        <p>Social Media</p>
    </div>
    <div class="media">
        <div class="textMedia">
            <p>
                See more completed projects on our Behance, Instagram,
                Youtube, and Facebook:
            </p>
        </div>
        <div class="iconMedia">
            <ul>
                <li>
                    <a class="link-bh" href="" class="" target="_blank"><img src="icon-user-page/icon1.png" alt=""
                            style="width: 40px;" /></a>
                </li>
                <li>
                    <a class="link-ins" href="" target="_blank"><img src="icon-user-page/icon2.png" alt=""
                            style="width: 40px;" /></a>
                </li>
                <li>
                    <a class="link-ytb" href="" target="_blank"><img src="icon-user-page/icon3.png" alt=""
                            style="width: 40px;" /></a>
                </li>
                <li>
                    <a target="_blank" class="link-fb" href="https://www.facebook.com/VIAVietArchitecture/"><i class="fa-brands fa-square-facebook"
                            style="color: #787879;font-size: 32px;"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>