<style>
    .mainContentMedia,
    .mainContentContact,
    .mainContentAbout {
        width: 1200px;
        margin: 0 auto;
        color: #bab6af;
    }

    .textTitle p {
        font-size: 35px;
    }

    .textTitle-1 {
        padding-top: 20px;
    }

    .textTitle-1>p {
        font-size: 25px;
    }

    .textMedia,
    .textContent {
        font-size: 17px;
        width: 99%;
        padding-top: 20px;
    }

    .iconMedia ul {
        display: flex;
        list-style: none;
    }

    .iconMedia ul li {
        padding-left: 15px;
        padding-top: 10px;
    }

    .mainContentContact .hr,
    .mainContentAbout .hr {
        width: 300px;
        color: #bab6af;
        padding-top: 30px;
    }

    .mainContentContact {
        padding-top: 20px;
    }

    .contact {
        padding-top: 17px;
    }

    .email a {
        text-decoration: none;
        color: #bab6af;
        font-size: 17px;
    }

    .Address p,
    .phoneNumber p {
        font-size: 17px;
        color: #bab6af;
    }

    .mainContentMedia {
        padding-bottom: 50px;
    }
</style>
<div class="mainContentAbout">
    <div class="textTitle">
        <p>About</p>
    </div>
    <div class="textTitle-1">
        <p>Possibilities , Portrayed</p>
    </div>
    <div class="textContent">
        <p>
            Koma Visualization is a visual content studio, specialized in
            Still Image, VR, and Animation for architectural and real estate
            projects around the world. Our studio is based in Tangerang,
            Indonesia. From 2015, we have been collaborating closely with more
            than 100+ clients, and have finished 2000+ finished projects
            worldwide. ​ We are proud to pioneer straight-forward rendering
            style, which aims for honesty and realism in portraying
            architecture / interior, opening true possibilities in seeing
            pre-built design. Beauty is always considered by us, without
            excessive beautification. ​ As a visual company specialized in
            architecture and interior visualization, Koma, or comma in
            English, acts as the separation part between the ideas and
            realization​ of architecture, creating continuity within a
            project. We are committed to always continue exploring the
            creative possibilities of visualization. ​ Our works have
            constantly been featured in Behance, Renderbox Magazine, Render
            Awards, Render Contest, CGTop, Amazing Architecture, Architecture
            Hunter, All of Renders, and other architecture visualization
            publications.
        </p>
    </div>
    <div class="hr">
        <hr size="0.7px" />
    </div>
</div>
<div class="mainContentContact">
    <div class="textTitle">
        <p>Contact</p>
    </div>
    <div class="contact email">
        <a href="mailto:via.vietarchitecture@gmail.com">Email: via.vietarchitecture@gmail.com</a>
    </div>
    <div class="contact Address">
        <p>Address: VietNam</p>
    </div>
    <div class="contact phoneNumber">
        <p>Phone: 0823102898</p>
    </div>
    <div class="hr">
        <hr size="0.7px" />
    </div>
</div>
<div class="mainContentMedia">
    <div class="textTitle">
        <p>Social Media</p>
    </div>
    <div class="media">
        <div class="textMedia">
            <p>
                See more completed projects on our Behance, Youtube, and
                Facebook :
            </p>
        </div>
        <div class="iconMedia">
            <ul>
                <li>
                    <a href="https://www.behance.net/lechicong_VIA" target="_blank"><img src="icon-user-page/icon1.png"
                            alt="" /></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCuWybxHSw_2wKCwh17YHbjQ" target="_blank"><img
                            src="icon-user-page/icon3.png" alt="" /></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/chicong.lee" target="_blank"><img
                            src="icon-user-page/kisspng-facebook-social-media-computer-icons-linkedin-soci-gray-5ac493cf1c2975.7867418415228323351154.png"
                            alt="" style="height: 40px; width: 40px; margin-top: 5px;" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>