<script>

    $(".btn-edit-project").click(function () {
        let idProject = $(this).attr('data-id-project');
        var arr_edit_img_project = [];
        //get detail information project
        $.ajax({
            async: false,
            url: '/admin/detail-project',
            type: 'POST',
            data: { '_id': idProject },
            dataType: "json",
            encode: true,
        }).done(function (data) {
            if (data != 'error' || data != "") {
                let nameProject = data.nameProject;
                let descriptionProject = data.descriptionProject;
                let idCateProject = data.cateProject._id;
                let nameCateProject = data.cateProject.nameProject;
                arr_edit_img_project = data.imageProject;
                $(".side-edit-project").css('display', 'block');
                $(".vl-detail-name-project").val(nameProject)
                $('.vl-detail-cate-project option[value=' + idCateProject + ']').attr('selected', 'selected');
                $(".vl-detail-descript-project").val(descriptionProject);
                let html_arr_img_project = ""
                for (let i = 0; i < arr_edit_img_project.length; i++) {
                    console.log(arr_edit_img_project[i].urlImage)
                    html_arr_img_project += (`<div class="item-img update-desige-item" data-id-design=` + arr_edit_img_project[i].idImage + `>
                  <img
                    src="https://drive.google.com/uc?id=`+ arr_edit_img_project[i].idImage + `"
                    alt="`+ arr_edit_img_project[i] + `">
                  <button type="button" class="btn btn-danger btn-rounded btn-sm btn-icon btn-del-update-design" data-id-design=`+ arr_edit_img_project[i].idImage + `>
                    <i class="mdi mdi-delete"></i>
                  </button>
                </div>`
                    );
                }
                $(".contain-selected-image").html(html_arr_img_project);
                //delete update image design 
                updateDelDesign()
                function updateDelDesign() {
                    $(".btn-del-update-design").click(function () {
                        let idUpdateImage = $(this).attr('data-id-design');
                        for (let i = 0; i < arr_edit_img_project.length; i++) {
                            if (arr_edit_img_project[i].idImage === idUpdateImage) {
                                arr_edit_img_project.splice(i, 1);
                            }
                        }
                        console.log(arr_edit_img_project);
                        $(".btn-edit-arr-image-project").click();
                        $(".update-desige-item[data-id-design=" + idUpdateImage + "]").remove();

                    })
                }
                //update arr image project
                $(".btn-edit-arr-image-project").click(function () {
                    $.ajax({
                        async: false,
                        url: '/admin/all-image-project',
                        type: 'GET',
                        dataType: "json",
                        encode: true,
                    }).done(function (data) {
                        let html = ``;
                        for (let i = 0; i < data.length; i++) {
                            let same = false;
                            for (let j = 0; j < arr_edit_img_project.length; j++) {
                                if (arr_edit_img_project[j].idImage == data[i].id) {
                                    same = true
                                }
                            };
                            if (same == true) {
                                html += ` <div class="item-design n-choose-design design-active" data-id-design= ` + data[i].id + `>
                  <img src="https://drive.google.com/uc?id=`+ data[i].id + `" alt="">
                </div>`;
                            } else {
                                html += ` <div class="item-design n-choose-design" data-id-design= ` + data[i].id + `>
                  <img src="https://drive.google.com/uc?id=`+ data[i].id + `" alt="">
                </div>`;
                            }

                        }
                        $(".contain-all-design").html(html)
                        $(".n-choose-design").click(function () {
                            let idDesign = $(this).attr('data-id-design');
                            let appear = false;
                            for (let j = 0; j < arr_edit_img_project.length; j++) {
                                if (arr_edit_img_project[j].idImage == idDesign) {
                                    appear = true
                                }
                            };
                            if (appear == true) {
                                Swal.fire('Ảnh này đã được chọn từ lúc trước !!!');

                            } else {
                                $(this).addClass('design-active');
                                let html_img_project = (`<div class="item-img update-desige-item" data-id-design=` + idDesign + `>
                  <img
                    src="https://drive.google.com/uc?id=`+ idDesign + `"
                    alt="">
                  <button type="button" class="btn btn-danger btn-rounded btn-sm btn-icon btn-del-update-design" data-id-design=`+ idDesign + `>
                    <i class="mdi mdi-delete"></i>
                  </button>
                </div>`
                                );
                                $(".contain-selected-image").append(html_img_project);
                                arr_edit_img_project.push({
                                    idImage: idDesign,
                                    urlImage: `https://drive.google.com/uc?id=` + idDesign + ` `
                                })

                                console.log("12312", arr_edit_img_project);
                                updateDelDesign();

                            }
                        })

                        //get new value next to update
                        $(".btn-save-update-project").click(function () {
                            let formUpdateProject = new FormData();
                            let n_name_project = $(".vl-detail-name-project").val();
                            let n_id_cate_project = $(".vl-detail-cate-project").val();
                            let n_detail_project = $(".vl-detail-descript-project").val();

                            formUpdateProject = {
                                '_id': idProject,
                                'obj': {
                                    'nameProject': n_name_project,
                                    'descriptionProject': n_detail_project,
                                    'cateProject': n_id_cate_project,
                                    'imageProject': arr_edit_img_project
                                }
                            }
                            console.log("cuoi cùng", arr_edit_img_project);

                            Swal.fire({
                                title: 'Bạn có chắc muốn cập nhật sản phẩm này?',
                                showDenyButton: true,
                                showCancelButton: true,
                                confirmButtonText: 'Chắc chắn',
                                denyButtonText: `Huỷ bỏ`,
                            }).then((result) => {
                                /* Read more about isConfirmed, isDenied below */
                                if (result.isConfirmed) {
                                    $.ajax({
                                        async: false,
                                        url: '/admin/edit-project',
                                        type: 'POST',
                                        data: formUpdateProject,
                                        dataType: "json",
                                        encode: true,
                                    }).done(function (data) {
                                        if (data == 'success') {
                                            Swal.fire('Cập nhật thành công!', '', 'success');
                                            $(".side-edit-project").css('display', 'none');
                                        } else {
                                            Swal.fire('Lỗi!', '', 'info');
                                        }
                                    })
                                } else if (result.isDenied) {
                                    Swal.fire('Thao tác chưa được thực hiện', '', 'info')
                                }
                            })
                        })

                    })
                }
                )



            }
        });

    })
</script>