<head>
    <title>People</title>
</head>
{{!-- js for this page --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{!-- sweet alert --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: 'get-all-personal',
            type: 'GET',
            dataType: "json",
            encode: true,
        }).done(function (data) {
            console.log(data);
            let html = "";
            let html_boss = "";
            let html_eple = "";
            console.log(data);

            data.map((item) => {
                if (item.role.nameRole == 'Giám dốc' || item.role.nameRole == 'Giám đốc' || item.role.nameRole == 'Founder') {
                    html_boss += `<div class="card">
            <div class="img-bx">
                <img src="`+ item.imageAvata + `" alt="img" />
            </div>
            <div class="content">
                <div class="detail">
                    <h2>`+ item.name + `<br /><span>` + item.role.nameRole + `</span></h2>
                    <p>`+ item.byMySelf + `</p>
                </div>
            </div>
        </div>`;
                } else {
                    html_eple += ` <div class="card-ple">
            <div class="img-bx">
                <img src="`+ item.imageAvata + `" alt="img" />
            </div>
            <div class="content">
                <div class="detail">
                    <h2>`+ item.name + `<br /><span>` + item.role.nameRole + `</span></h2>
                    <p>`+ item.byMySelf + `</p>


                </div>
            </div>
        </div>
`;
                }
            })


            $(".contain-inf-people").html(html_boss)
            $(".contain-inf-employee").html(html_eple)


        })
    })
</script>

<style>
    /* MAINCONTENT */
    .mainContent {
        position: absolute;
        top: 50px;
        width: 100%;
        height: auto;
    }

    .mainContentMedia,
    .mainContentContact,
    .mainContentAbout {
        height: auto;
        width: 1200px;
        margin: 0 auto;
        color: #bab6af;
    }

    .textTitle p {
        font-size: 25px;
    }

    .textContent {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 10px;
    }

    .mainPersonnel {
        padding-bottom: 20px;
    }

    .mainPersonnel .namePersonnel>p {
        font-size: 20px;
    }

    .textTitle-1 {
        padding-top: 20px;
    }

    .textTitle-1>p {
        font-size: 25px;
    }

    .card {
        margin-left: 20px;
        margin-top: 10px;
        display: flex;
        position: relative;
        flex-direction: column;
        width: 300px;
        height: 500px;
        border-radius: 1px;
        backdrop-filter: blur(15px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    }

    .card-ple {
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        flex-direction: column;
        width: 200px;
        height: 300px;
        border-radius: 1px;
        backdrop-filter: blur(15px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    }

    .img-bx {
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        overflow: hidden;
        transform-origin: top;
    }

    .img-bx img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-top: 15px;
    }

    .content .detail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .content .detail h2 {
        color: #f7f4d7e5;
        font-size: 1.1em;
        font-weight: 400;
    }

    .content .detail h2 span {
        font-size: 0.7em;
        color: #f7f4d7e5;
        font-weight: bold;
    }

    .sci {
        position: relative;
        display: flex;
        margin-top: 5px;
    }

    .sci li {
        list-style: none;
        margin: 4px;
    }

    .sci li a {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: transparent;
        font-size: 1.5em;
        color: #444;
        text-decoration: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: 0.5s;
    }

    .sci li a:hover {
        background: #03a9f4;
        color: #fff;
    }


    @media(max-width:1263px) {}
</style>
<div class="mainContentAbout">
    <div class="textTitle">
        <p>People </p>
    </div>
    <div class="row contain-inf-people"
        style="width: 100%; height: auto;display: flex; flex-wrap: wrap; justify-content: center;">


    </div>

    <div class="row contain-inf-employee"
        style="width: 100%; height: auto;display: flex; flex-wrap: wrap; justify-content: center; margin-top: 90px; padding: 10px;">

    </div>

    {{!-- <div class="textContent">

    </div> --}}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>