{{!-- js for this page --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{!-- sweet alert --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  $(document).ready(function () {
    //add new cate personal
    $(".btn-add-cate-role").click(function () {
      let nameRole = $(".name-role").val();
      let desRole = $(".descript-role").val();
      if (nameRole == "" || desRole == "") {
        Swal.fire({
          icon: 'error',
          title: 'Lỗi...',
          text: 'Chưa điền đủ thông tin trong form!',
        })
      } else {
        $(this).html('Đang tải...')
        $(this).addClass('btn-outline-secondary').removeClass('btn-add-cate-role').removeClass('btn-success');

        //fetch api post all cate role
        fetch("add-cate-personal", {
          method: "POST", // or 'PUT'
          headers: {
            Accept: 'application.json',
            'Content-Type': 'application/json'
          },
          //data;
          body: JSON.stringify({
            'nameRole': nameRole,
            'descriptionRole': desRole,
          })
        })
          .then((response) => response.json())

          .then((data) => {
            $(this).removeClass('btn-outline-secondary').addClass('btn-add-cate-role').addClass('btn-success');
            $(this).html('Đăng')
            Swal.fire({
              position: 'top-end',
              icon: 'Thành công',
              title: 'Thêm vị trí trong công ty thành công !',
              showConfirmButton: false,
              timer: 1500
            })
            showAllCateRole();
          })
          .catch((error) => {
            console.log("Error:", error);
          });
      }
    })
    showAllCateRole()
    function showAllCateRole() {
      $.ajax({
        url: 'get-all-role-personal',
        type: 'GET',
        dataType: "json",
        encode: true,
      }).done(function (data) {
        let html = ``;
        let option_html = ``;
        data.map((item) => {
          option_html += `<option value="` + item._id + `">` + item.nameRole + `</option>`;
          html += ` <tr>
                        <td>
                          `+ item.nameRole + `
                        </td>

                        <td>
                          `+ item.descriptionRole + `
                        </td>
                        <td>
                          <button type="button" data-id-role="`+ item._id + `" class="btn btn-danger btn-sm btn-icon-text btn-del-role"><i
                              class="mdi mdi-delete"></i></button>
                        
                        </td>
                      </tr>`;
        })
        $(".cate-personal").html(option_html);
        $(".vl-role-personal").html(option_html);
        $(".all-role-personal").html(html);
        //delete cate role
        $(".btn-del-role").click(function () {
          Swal.fire({
            title: 'Bạn có chắc muốn xoá loại nhân sự này?',
            text: "Có thể sẽ không xoá được nếu loại nhân sự này thuộc một người nào đó!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Chắc chẵn'
          }).then((result) => {
            if (result.isConfirmed) {
              let dataId = $(this).attr('data-id-role');
              //check coi cate này có tồn tại trong các nhân sự hiện tại không
              if (dataId) {
                fetch("delete-role-personal", {
                  method: "POST", // or 'PUT'
                  headers: {
                    Accept: 'application.json',
                    'Content-Type': 'application/json'
                  },
                  //data;
                  body: JSON.stringify({ '_id': dataId })
                })
                  .then((response) => response.json())

                  .then((data) => {
                    if (data == 'success') {
                      showAllCateRole()
                      showAllPersonalInf()
                      Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Xoá thành công 1 dự án !',
                        showConfirmButton: false,
                        timer: 1500
                      })
                    }
                  })
                  .catch((error) => {
                    console.log("Error:", error);
                  });

              }

            }
          })

        }

        )
      })
    }

    //get all personnal inf
    showAllPersonalInf()
    function showAllPersonalInf() {
      $.ajax({
        url: 'get-all-personal',
        type: 'GET',
        dataType: "json",
        encode: true,
      }).done(function (data) {
        let html = '';
        data.map((item) => {
          html += `                      <tr>
                        <td class="py-1">
                          <img src="`+ item.imageAvata + `" alt="image" />
                        </td>
                        <td>
                          `+ item.name + `
                        </td>

                        <td>
                           `+ item.birth + `
                        </td>`;
          if (item.role) {
            html += ` <td>
                              `+ item.role.nameRole + `
                        </td>`
          } else {
            html += `<td>không thuộc vị trí nào</td>`
          }

          html += `<td>
                          `+ item.contact + `
                        </td>
                        <td>
                           `+ item.email + `
                        </td>
                        <td>
                          <button type="button" data-id-personal= "`+ item._id + `" class="btn btn-danger btn-del-personal btn-sm btn-icon-text"><i
                              class="mdi mdi-delete" ></i></button>
                          <button type="button"  data-id-personal= "`+ item._id + `" class="btn btn-success btn-edit-personal btn-sm btn-icon-text"><i
                              class="mdi mdi-lead-pencil"></i></button>
                        </td>
                      </tr>`
        })
        $(".tbl-all-personal-inf").html(html);
        $(".btn-del-personal").click(function () {
          Swal.fire({
            title: 'Bạn có chắc muốn xoá nhân sự này?',
            text: "Điều này sẽ mất thông tin của người này khi bạn xoá!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Chắc chắn!'
          }).then((result) => {
            if (result.isConfirmed) {
              let dataId = $(this).attr('data-id-personal');
              if (dataId) {
                fetch("delete-personal", {
                  method: "POST", // or 'PUT'
                  headers: {
                    Accept: 'application.json',
                    'Content-Type': 'application/json'
                  },
                  //data;
                  body: JSON.stringify({ '_id': dataId })
                })
                  .then((response) => response.json())

                  .then((data) => {
                    if (data == 'success') {
                      showAllCateRole()
                      Swal.fire(
                        'Xoá thành công!',
                        'Nhân sự này đã được xoá',
                        'success'
                      )
                      showAllPersonalInf()
                    }
                  })
                  .catch((error) => {
                    console.log("Error:", error);
                  });

              }

            }
          })

        })

        //edit personal
        $(".btn-edit-personal").click(function () {
          let dataId = $(this).attr('data-id-personal');
          $(".layout-edit").css('display', 'block')
          $(".form-data-edit-personal").css('display', 'block')
          //get personal by id
          $.ajax({
            url: 'get-personal-by-id',
            type: 'POST',
            dataType: "json",
            data: { idPersonal: dataId },
            encode: true,
          }).done(function (data) {

            //get all detail personal
            let item = data[0];
            console.log(item);
            $(".id_personal").val(item._id);
            $(".vl-descript-personal").val(item.byMySelf);
            $(".vl-address-personal").val(item.address);
            $(".vl-email-personal").val(item.email);
            $(".vl-birth-personal").val(item.birth);
            $(".vl-name-personal").val(item.name);
            $(".vl-phone-personal").val(item.contact);
            $(".avata-personal").attr('src', item.imageAvata);
            if (item.role._id) {
              $('.vl-role-personal option[value=' + item.role._id + ']').attr('selected', 'selected');
            }


            //
          })

        })
      })
    }
    $(".layout-edit").click(function () {
      $(this).hide();
      $(".form-data-edit-personal").hide();

    })

    //add new personal
    $(".btn-add-personal").click(function () {
      let descript_personal = $(".descript-personal").val();
      let file_img_personal = $(".file-img-personal").val();
      let cate_personal = $(".cate-personal").val();
      let contact_personal = $(".contact-personal").val();
      let address_personal = $(".address-personal").val();
      let email_personal = $(".email-personal").val();
      let birth_personal = $(".birth-personal").val();
      let name_personal = $(".name-personal").val();
      if (descript_personal == "" || file_img_personal == "" || cate_personal == "" || contact_personal == "" || address_personal == "" ||
        email_personal == "" || birth_personal == "" || name_personal == "") {
        Swal.fire(
          'Đang điền thiếu thông tin',
          'Vui lòng kiếm tra lại',
          'question'
        )
      } else {
        $("#f-add-personal").submit();
      }
    })

    $(".btn-edit-personal").click(function () {
      let vl_descript_personal = $(".vl-descript-personal").val();
      let vl_address_personal = $(".vl-address-personal").val();
      let vl_email_personal = $(".vl-email-personal").val();
      let vl_birth_personal = $(".vl-birth-personal").val();
      let vl_name_personal = $(".vl-name-personal").val();
      let vl_phone_personal = $(".vl-phone-personal").val();
      let vl_upload_avata = $(".upload-avata").val();
      let vl_role_personal = $(".vl-role-personal").val();
      alert(vl_upload_avata)
      if (vl_upload_avata == "") {
        $("#f-edit-personal").submit();
      } else {
        if (vl_descript_personal == "" || vl_address_personal == "" || vl_email_personal == "" ||
          vl_birth_personal == "" || vl_name_personal == "" || vl_phone_personal == "" ||
          vl_role_personal == "") {
          Swal.fire({
            icon: 'error',
            title: 'Lỗi chưa đủ thông tin để cập nhật',
            text: 'Vui lòng kiểm tra các trường!'
          })
        } else {
          //form submit
          $("#f-edit-personal").attr('action', 'edit-personal-by-id')
          $("#f-edit-personal").submit();
        }
      }
    })
    //end
  })

</script>
<div class="layout-edit" style="z-index: 11;position: absolute; width: 100%; height: 100%; position: fixed; 
  top: 0; left: 0; background-color: rgb(49 ,49, 49, 0.5); display: none;">
</div>
<div class="form-data-edit-personal" style="z-index: 12;position: absolute; width: 90%; height: 70%;  left: 50%; top: 50%;
    transform: translate(-50%,-50%); display: none;">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Thông tin chi tiết nhân sự</h4>
        <p class="card-description">
          thông tin chi tiết và chỉnh sửa
        </p>
        <form class="forms-sample" id="f-edit-personal" action="edit-personal-by-id-no-image" enctype="multipart/form-data" method="post">
          <img src="" id="avata-personal" class="avata-personal" style="width: 70px; height: auto;" alt="">
          <div class="form-group">
            <label>Chỉnh sửa ảnh</label>
            <input type="hidden" class="id_personal" name="id_personal">
            <div class="input-group col-xs-12">
              <input type="file" class="form-control upload-avata" name="vl_edit_avata"
                onchange="document.getElementById('avata-personal').src = window.URL.createObjectURL(this.files[0])"
                placeholder="Up load ảnh nhân sự">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Tên nhân sự</label>
            <input type="text" class="form-control vl-name-personal" name="vl_name_personal" id="exampleInputName1"
              placeholder="Tên nhân sự">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Ngày sinh</label>
            <input type="text" class="form-control vl-birth-personal" name="vl_birth_personal" id="exampleInputEmail3"
              placeholder="dd/mm/yyyy">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect3">Vị trí</label>
            <select class="form-control form-control-sm vl-role-personal" name="vl_role_personal"
              id="exampleFormControlSelect3">

            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Email</label>
            <input type="text" class="form-control vl-email-personal" name="vl_email_personal"
              id="exampleInputPassword4" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Số điện thoại</label>
            <input type="text" class="form-control vl-phone-personal" name="vl_phone_personal"
              id="exampleInputPassword4" placeholder="Số điện thoại">
          </div>

          <div class="form-group">
            <label for="exampleInputCity1">Địa chỉ</label>
            <input type="text" class="form-control vl-address-personal" name="vl_address_personal"
              id="exampleInputCity1" placeholder="Địa chỉ">
          </div>
          <div class="form-group">
            <label for="exampleTextarea1">Giới thiệu</label>
            <textarea class="form-control vl-descript-personal" name="vl_descript_personal" id="exampleTextarea1"
              rows="4" style="height: 300px"></textarea>
          </div>
          <button type="button" class="btn btn-primary me-2 btn-edit-personal">Cập nhật</button>
          <button class="btn btn-light">Huỷ bỏ</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Nhân Sự</h4>
                <p class="card-description">
                  Đây là bảng:
                  <code>Quản lý thông tin nhân sự của công ty.</code>
                </p>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>

                        <th>
                          Ảnh đại diện
                        </th>
                        <th>
                          Họ và tên
                        </th>

                        <th>
                          Ngày sinh
                        </th>
                        <th>Vị trí</th>
                        <th>
                          Liên lạc
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Địa chỉ
                        </th>
                      </tr>
                    </thead>
                    <tbody class="tbl-all-personal-inf">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">

        <form id="f-add-personal" action="add-personal-inf" enctype="multipart/form-data" method="post">
          <div class="card-body">
            <h4 class="card-title">Thêm Nhân Sự</h4>
            <div class="form-group">
              <label>Tên Nhân Sự</label>
              <input type="text" name="name_personal" class="form-control name-personal" placeholder="Tên nhân sự" />
            </div>
            <div class="form-group">
              <label>Ngày sinh</label>
              <input type="text" name="birth_personal" class="form-control birth-personal"
                placeholder="Nhập ngày sinh" />
            </div>
            <div class="form-group">
              <label>Ngày sinh</label>
              <input type="text" name="email_personal" class="form-control email-personal" placeholder="Nhập Email" />
            </div>
            <div class="form-group">
              <label>Địa chỉ</label>
              <input type="text" name="address_personal" class="form-control address-personal"
                placeholder="Nhập địa chỉ" />
            </div>
            <div class="form-group">
              <label>Liên lạc</label>
              <input type="text" name="contact_personal" class="form-control contact-personal"
                placeholder="Nhập phương thức liên lạc" />
            </div>
            <div class="form-group">
              <label>Chọn Loại Dự Án</label>
              <select class="js-example-basic-single w-100 cate-personal" name="cate_personal">

              </select>
            </div>
            <div class="form-group">
              <label>Thêm ảnh</label>

              <input type="file" name="files" class="file-img-personal">
            </div>
            <div class="form-group">
              <label for="exampleTextarea1">Mô Tả Nhân Sự</label>
              <textarea name="descript_personal" class="form-control descript-personal" id="exampleTextarea1" rows="44"
                style="height: 100px;"></textarea>
            </div>
            <button type="button" class="btn btn-success btn-icon-text btn-add-personal">
              <i class="ti-upload btn-icon-prepend"></i>
              Đăng
            </button>
          </div>
        </form>

      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Chức vụ Nhân Sự</h4>
                <p class="card-description">
                  Đây là bảng:
                  <code>Quản lý thông tin các vị trí chức vụ trong công ty.</code>
                </p>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>


                        <th>
                          Tên chức vụ
                        </th>

                        <th>
                          Mô tả chức vụ
                        </th>

                        <th>
                          Thao tác
                        </th>
                      </tr>
                    </thead>
                    <tbody class="all-role-personal">


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <form action="">
          <div class="card-body">
            <h4 class="card-title">Thêm Chức Vụ Nhân Sự</h4>
            <div class="form-group">
              <label>Tên Chức Vụ</label>
              <input type="text" class="form-control name-role" placeholder="Tên chức vụ " />
            </div>
            <div class="form-group">
              <label for="exampleTextarea1">Mô Tả Vị trí</label>
              <textarea class="form-control descript-role" id="exampleTextarea1" rows="44"
                style="height: 100px;"></textarea>
            </div>
            <button type="button" class="btn  btn-icon-text btn-success btn-add-cate-role">
              <i class="ti-upload btn-icon-prepend"></i>
              Đăng
            </button>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>