{{!-- js for this page --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{!-- sweet alert --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- jsDeliver -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
<script>
    $(document).ready(function () {
        //check loader img
        $('img').Lazy();
        $("img").onload = function () {
            $(this).src = this.src
        }

        function dataLoading() {
            //load all design from drive
            $.ajax({
                url: '/admin/all-image-project',
                type: 'GET',
                dataType: "json",
                encode: true,
            }).done(function (data) {
                console.log(data);
                let html = "";
                data.map((item) => {

                    html += ` <div class="gallery-item" >
                    <div class="content image-design">
                        <img src="https://drive.google.com/uc?id=`+ item.id + `" data-id-image=` + item.id + ` alt="">
                        <div class ="inf-image"></div>
                    </div>
                </div>`;
                })
                $("#gallery").html(html);
            })
        }

        dataLoading()

    })
</script>
<style>
    /* MAIN STYLE */

    .card {
        width: 400px;
        height: auto;
        padding: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        overflow: hidden;
        background: #fafbff;
    }

    .card .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .card p {
        font-size: 0.9rem;
        font-weight: 600;
        color: #878a9a;
    }

    .card button {
        outline: 0;
        border: 0;
        -webkit-appearence: none;
        background: #5256ad;
        color: #fff;
        border-radius: 4px;
        transition: 0.3s;
        cursor: pointer;
        font-weight: 400;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        font-size: 0.8rem;
        padding: 8px 13px;
    }

    .card button:hover {
        opacity: 0.8;
    }

    .card button:active {
        transform: translateY(5px);
    }

    .card .drag-area {
        width: 100%;
        height: 160px;
        border-radius: 5px;
        border: 2px dashed #d5d5e1;
        color: #c8c9dd;
        font-size: 0.9rem;
        font-weight: 500;
        position: relative;
        background: #dfe3f259;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        -webkit-user-select: none;
        margin-top: 10px;
    }

    .card .drag-area .visible {
        font-size: 18px;
    }

    .card .select {
        color: #5256ad;
        margin-left: 5px;
        cursor: pointer;
        transition: 0.4s;
    }

    .card .select:hover {
        opacity: 0.6;
    }

    .card .container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        max-height: 200px;
        overflow-y: auto;
        margin-top: 10px;
    }

    .card .container .image {
        width: calc(26% - 19px);
        margin-right: 15px;
        height: 75px;
        position: relative;
        margin-bottom: 8px;
    }

    .card .container .image img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .card .container .image span {
        position: absolute;
        top: -2px;
        right: 9px;
        font-size: 20px;
        cursor: pointer;
    }

    /* dragover class will used in drag and drop system */
    .card .drag-area.dragover {
        background: rgba(0, 0, 0, 0.4);
    }

    .card .drag-area.dragover .on-drop {
        display: inline;
        font-size: 28px;
    }

    .card input,
    .card .drag-area .on-drop,
    .card .drag-area.dragover .visible {
        display: none;
    }

    #gallery {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .gallery-item {
        width: 19.9%;
    }

    .gallery-item>div {
        width: 100%;
        height: 300px;
        position: relative;
        margin-left: 2px;
        overflow: hidden;
    }


    .gallery-item>div>img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        object-fit: cover;
        padding-bottom: 5%;
    }

    .inf-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: rgb(227, 230, 233, 0.6);
    }
</style>
<div class="content-wrapper">
    <button style="position: relative;" type="button" class="btn btn-danger  btn-icon-text">
        <i class="ti-upload btn-icon-prepend"></i>
        <input type="file" name="" id="" style="position: absolute; width: 100%; height: 100%; opacity: 0;"
            onchange="document.getElementById('show-img-upload').src = window.URL.createObjectURL(this.files[0])">
        Thêm design vào drive của bạn
    </button>
    <form action="/admin/bulk-upload-design" enctype="multipart/form-data" method="POST">

        <div class="card">
            <div class="top">
                <p>Drag & drop image uploading</p>
                <button type="submit" class="btn-bulk-upload-design">Upload</button>
            </div>
            <div class="drag-area">
                <span class="visible">
                    Drag & drop image here or
                    <span class="select" role="button">Browse</span>
                </span>
                <span class="on-drop">Drop images here</span>
                <input name="file" type="file" class="file" multiple />
            </div>

            <!-- IMAGE PREVIEW CONTAINER -->
            <div class="container"></div>
        </div>
    </form>
    <img src="" alt="" id="show-img-upload" style="width: 150px; height: auto;">
    <div class="row">
        <p>Kho lưu trữ hình ảnh </p>
        <p>Tất cả hình ảnh được lưu tại google drive đã được cấp</p>

        <div class="col-md-12 grid-margin stretch-card">

            <div class="gallery" id="gallery">

            </div>
        </div>

    </div>
</div>
<script>
    var files = [],
        dragArea = document.querySelector('.drag-area'),
        input = document.querySelector('.drag-area input'),
        button = document.querySelector('.card button'),
        select = document.querySelector('.drag-area .select'),
        container = document.querySelector('.container');

    /** CLICK LISTENER */
    select.addEventListener('click', () => input.click());

    /* INPUT CHANGE EVENT */
    input.addEventListener('change', () => {
        let file = input.files;

        // if user select no image
        if (file.length == 0) return;

        for (let i = 0; i < file.length; i++) {
            if (file[i].type.split("/")[0] != 'image') continue;
            if (!files.some(e => e.name == file[i].name)) files.push(file[i])
        }

        showImages();
    });

    /** SHOW IMAGES */
    function showImages() {
        container.innerHTML = files.reduce((prev, curr, index) => {
            return `${prev}
		    <div class="image">
			    <span onclick="delImage(${index})">&times;</span>
			    <img src="${URL.createObjectURL(curr)}" />
			</div>`
        }, '');
        console.log(files)
    }

    /* DELETE IMAGE */
    function delImage(index) {
        files.splice(index, 1);
        showImages();
    }

    /* DRAG & DROP */
    dragArea.addEventListener('dragover', e => {
        e.preventDefault()
        dragArea.classList.add('dragover')
    })

    /* DRAG LEAVE */
    dragArea.addEventListener('dragleave', e => {
        e.preventDefault()
        dragArea.classList.remove('dragover')
    });

    /* DROP EVENT */
    dragArea.addEventListener('drop', e => {
        e.preventDefault()
        dragArea.classList.remove('dragover');

        let file = e.dataTransfer.files;
        for (let i = 0; i < file.length; i++) {
            /** Check selected file is image */
            if (file[i].type.split("/")[0] != 'image') continue;

            if (!files.some(e => e.name == file[i].name)) files.push(file[i])
        }

        showImages();
    });

</script>