<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://localhost:3000/">

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/css-user-pages/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="header">
            <div class="mainHeader">
                <div class="logo">
                    <a href=""><img src="../img/KOMA Logo 01 - Gold Transparent.png" alt="" /></a>
                </div>
                <div class="nav">
                    <ul id="navUl">
                        <li><a href="/">Home</a></li>
                        <li>
                            <a href="cate-project">Project</a>
                            <ul id="subNavProject">
                                <a href="">
                                    <li>Biệt thự Biển</li>
                                </a>
                                <a href="">
                                    <li>Biệt thự Biển</li>
                                </a>
                                <a href="">
                                    <li>Biệt thự Biển</li>
                                </a>
                                <a href="">
                                    <li>Biệt thự Biển</li>
                                </a>
                            </ul>
                        </li>
                        <li><a href="">Info</a></li>
                        <li><a href="">People</a></li>
                    </ul>
                </div>
                <label for="nav__mobile-input" class="iconMenu">
                    <img src="icon-user-page/icons8-menu-rounded-100.png" alt="" />
                </label>
                <input type="checkbox" class="nav__input" id="nav__mobile-input">
                <label for="nav__mobile-input" class="nav__overlay"></label>
                <label for="nav__mobile-input" class="nav__mobile">
                    <div class="iconMultiply">
                        <img src="icon-user-page/icons8-multiply-50.png" alt="">
                    </div>

                    <ul id="navUl__mobile">
                        <li><a href="">Home</a></li>
                        <li>
                            <a href="./projects.html">Project</a>
                        </li>
                        <li><a href="">Info</a></li>
                        <li><a href="">People</a></li>
                    </ul>
                </label>
            </div>
        </div>

        <div class="mainContent">
            {{{body}}}
        </div>
    </div>
</body>

</html>