<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/css-user-pages/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    {{!-- js for this page --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    {{!-- sweet alert --}}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/all-cate-project',
                type: 'GET',
                dataType: "json",
                encode: true,
            }).done(function (data) {
                console.log(data);
                let html = "";
                data.map((item) => {
                    html += ` <a href="/detail-cate-project/`+item._id+`">
                                    <li>`+item.nameProject+`</li>
                                </a>`;
                })
                $("#subNavProject").html(html);
            })
        })
    </script>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="mainHeader">
                <div class="logo">
                    <a href=""><img src="../img/KOMA Logo 01 - Gold Transparent.png" alt="" /></a>
                </div>
                <div class="nav">
                    <ul id="navUl">
                        <li><a href="/">Home</a></li>
                        <li>
                            <a href="/cate-project">Project</a>
                            <ul id="subNavProject">
                                
                            </ul>
                        </li>
                        <li><a href="/info">Info</a></li>
                        <li><a href="/people">People</a></li>
                    </ul>
                </div>
                <label for="nav__mobile-input" class="iconMenu">
                    <img src="icon-user-page/icons8-menu-rounded-100.png" alt="" />
                </label>
                <input type="checkbox" class="nav__input" id="nav__mobile-input">
                <label for="nav__mobile-input" class="nav__overlay"></label>
                <label for="nav__mobile-input" class="nav__mobile">
                    <div class="iconMultiply">
                        <img src="icon-user-page/icons8-multiply-50.png" alt="">
                    </div>

                    <ul id="navUl__mobile">
                        <li><a href="">Home</a></li>
                        <li>
                            <a href="/project">Project</a>
                        </li>
                        <li><a href="/info">Info</a></li>
                        <li><a href="/people">People</a></li>
                    </ul>
                </label>
            </div>
        </div>

        <div class="mainContent">
            {{{body}}}
        </div>
    </div>
</body>

</html>